#main-flow {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 602px;
    background-image: linear-gradient(to bottom, #E1EBF6, #E1EBF6);
    padding: 12px;
    border: 1px solid #005FB844;
    border-radius: 4px;
    width: fit-content;
}

#upper-flow {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

#bits-flow {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
}

#normalized-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#input-fields-flow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

#copy-buttons-flow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.dec-input-fields-row-flow {
    display: flex;
    grid-template-columns: repeat(1, auto);
}

.bin-input-fields-row-flow {
    display: grid;
    grid-template-columns: repeat(8, auto);
}

.hex-input-fields-row-flow {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5%, 1fr));
}
